@media (min-width:576px) {
    .grid-item21 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .grid-item2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .grid-item3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .grid-item4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .grid-item5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .grid-item6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grid-item7 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .grid-item8 {
        grid-row: 4/5;
        grid-column: 2/3;
    }
}

@media (min-width:768px) {
    .grid-item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

@media (min-width:992px) {
    .grid-item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .grid-item3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .grid-item4 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .grid-item5 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .grid-item6 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .grid-item7 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .grid-item8 {
        grid-row: 3/4;
        grid-column: 2/3;
    }
}

@media (min-width:1200px) {
    .grid-item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .grid-item3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .grid-item4 {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    .grid-item5 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .grid-item6 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .grid-item7 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .grid-item8 {
        grid-row: 2/3;
        grid-column: 4/5;
    }
}

@media (min-width:300px) {
body{
    overflow: hidden;
}
}
@media (max-width:1470px) {
    :root {
        /*font-size*/
        --fs-sm: 17px;
        --fs-1sm: 20px;
        --fs-md: 24px;
        --fs-1md: 36px;
        --fs-lg: 36px;
        --fs-1lg: 56px;
        --fs-2lg: 80px;
    }

}

@media (max-width: 1200px) {
    label[for="icon"] {
        width: 35px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 7;
        cursor: pointer;
        right: 6%;

    }


    label[for="icon"]>span {
        width: 100%;
        background-color: #010080;
        height: 5px;
        border-radius: 2px;
    }

    .mobile-view {
        background-color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        right: -100%;
        gap: 20px;
        top: 0;
        z-index: 6;
        transition: all 300ms linear;
        padding: 0;
    }

    input[type="checkbox"]:checked+ul {
        right: 0;
    }

    :root {
        /*font-size*/
        --fs-sm: 12px;
        --fs-1sm: 18px;
        --fs-md: 22px;
        --fs-1md: 34px;
        --fs-lg: 26px;
        --fs-1lg: 56px;
        --fs-2lg: 75px;
    }

   
}

@media (max-width:992px) {
    .cross-img {
        display: none;
    }

    .max-1774 {
        top: 0 !important;
    }

    :root {
        /*font-size*/
        --fs-sm: 12px;
        --fs-1sm: 18px;
        --fs-md: 22px;
        --fs-1md: 32px;
        --fs-lg: 24px --fs-1lg: 52px;
        --fs-2lg: 70px;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6 {
        display: none;
    }

    .gap-70 {
        gap: 0;
    }

    .gap-150 {
        gap: 0;
    }

    .absolute-row {
        top: 100%;
        left: 1%;
    }

    .h-800 {
        min-height: 1100px;
    }
}

@media (max-width:768px) {
    .border-bottom-1 {
        border: transparent;

    }

    .border-right {
        border: transparent;
    }

    :root {
        /*font-size*/
        --fs-sm: 12px;
        --fs-1sm: 18px;
        --fs-md: 22px;
        --fs-1md: 30px;
        --fs-lg: 24px;
        --fs-1lg: 50px;
        --fs-2lg: 60px;
    }

    .last-1,
    .last-2,
    .last-3,
    .last-4 {
        display: none;
    }

    .mb140 {
        margin-bottom: 100px;
    }

    .h-800 {
        min-height: 900px;
    }
}

@media (max-width:576px) {

    :root {
        /*font-size*/
        --fs-sm: 12px;
        --fs-1sm: 16px;
        --fs-md: 16px;
        --fs-1md: 30px;
        --fs-lg: 24px;
        --fs-1lg: 42px;
        --fs-2lg: 40px;
    }

    .h-800 {
        min-height: 2850px;
    }
}

@media (max-width:490px) {
    .h-800 {
        min-height: 2500px;
    }
}

@media (max-width:400px) {

    :root {
        /*font-size*/
        --fs-sm: 12px;
        --fs-1sm: 12px;
        --fs-md: 12px;
        --fs-1md: 30px;
        --fs-lg: 18px;
        --fs-1lg: 36px;
        --fs-2lg: 38px;
    }

    .h-800 {
        min-height: 2020px;
    }

}